NODE_ENV=development
PORT=3000

# ===========================================
# Supabase PostgreSQL - Direct Connection
# ===========================================
DB_PASSWORD=postgres123q
DATABASE_URL="postgresql://postgres.wftdcqgueuelimbakhhx:postgres123q@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres"


# ===========================================
# JWT Authentication
# ===========================================
JWT_SECRET="pos-system-super-secret-key-2026"
JWT_EXPIRES_IN="30m"